@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container-section {
    position: absolute;
    top: 16%;
    left: 20%;
}

.transition {
    transition: 0.3s;
}
.card-explanation {
    width: 78vw;
    background-color: #141e46;
    height: 6vh;
    border-radius: 8px;
    position: absolute;
}

.card-explanation h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
}

.sub-container-section {
    position: absolute;
    border-radius: 8px;
    top: 24%;
    width: fit-content;
    height: 70vh;
    border: 1px solid #b3b3b3;
    width: 78vw;
    left: 20%;
    background-color: #fdeeee;
}

.card-head-tabel {
    font-size: 0.8rem;
    width: 100%;
    height: 7vh;
    display: flex;
    position: relative;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ff6969;
    padding: 1rem;
    border-radius: 8px;
}

.card-head-tabel h1 {
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
}

.btn-link--sub-components {
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    background-color: white;
    color: black;
    font-weight: 600;
    right: 0;
    bottom: 8;
    width: 13%;
    position: absolute;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0.5rem;
}

.img-icon-size-container-link {
    width: 10%;
    margin: 0 0.3rem;
}

/* Button Kembali */
.btn-link--sub-components-kembali {
    padding: 0.4rem 0rem 0.4rem 1.3rem;
    background-color: #ffc245;
    font-size: 0.7rem;
    color: black;
    font-weight: 600;
    right: 20;
    bottom: 9;
    width: 7vw;
    position: absolute;
    border-radius: 8px;
    text-decoration: none;

    transition: 0.3s;
}

.img-icon-size-container-link-kembali {
    width: 16%;
    position: relative;
    top: 3;
    left: -3;
}

.img-icon-size {
    width: 15%;
}

/* Bagian View Daftar Soal Ujian */

.btn-soal-position {
    text-align: center;
}

.btn-soal-position a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    border-radius: 20px;
    font-weight: 500;
    margin: 0 1rem 0 1rem;
}

.btn-essay {
    padding: 0.8rem 1rem 0.8rem 1rem;
    background-color: #af2655;
    transition: 0.3s;
}

.btn-essay:hover {
    background-color: #860a35;
}
.icon-essay {
    width: 3.7%;
    background-color: #860a35;
    border-radius: 15px;
    position: relative;
    top: 16px;
    left: -17px;
}

.btn-pilgan {
    padding: 0.8rem 1rem 0.8rem 1rem;
    background-color: #435585;

    transition: 0.3s;
}

.btn-pilgan:hover {
    background-color: #818fb4;
}

.icon-pilgan {
    width: 3.7%;
    background-color: #818fb4;
    border-radius: 15px;
    position: relative;
    top: 16px;
    left: -18px;
}

.icon-btn-kembali {
    width: 16%;
    position: relative;
    top: 3px;
    margin-top: 2px;
    margin-left: 3px;
}

.btn-kembali {
    color: black;
    width: 6vw;
    position: absolute;
    right: 8px;
    top: 13px;
    height: 4vh;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    font-weight: 500;
    font-size: 0.85rem;
    background-color: #ffc245;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 10px;
}

.table-daftarsoal-ujian {
    border-collapse: collapse;
    display: flex;
    margin: 1rem;
    border-radius: 8px;
}

.table-daftarsoal-ujianspan span {
    position: relative;
}
.thead-daftarsoal-ujian {
    /* width: 100vw; */
    background-color: black;
    display: flex;
}

.tbody-daftarsoal-ujian {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
    display: contents;
    background-color: red;
}
.table-daftar-soal-ujian th {
    color: black;
    width: 37.2vw;
    height: 9vh;
    display: flex;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 1rem 1rem 0.5rem 1rem;
}

.tbody-daftarsoal-ujian td {
    height: 9vh;
    width: 38.5vw;
    color: black;
    font-size: 1.1rem;
    display: flex;
    padding: 1rem 1rem 0.5rem 1rem;
}

tr {
    border-radius: 8px;
}

.tr-one::after {
    content: "ini";
    display: flex;
    position: block;
    background-color: red;
}

.tr-three {
    width: 0.2vw;
    border-radius: 0px;
    background-color: #f4eae0;
}
.th-color-one {
    background-color: #ffc5c5;
}

.th-color-two {
    background-color: #ec8f5e;
}
.icon-crud {
    width: 10%;
}

.icon-crud-manajemen-materi {
    width: 18%;
}

.icon-crud-trach-can {
    width: 35%;
}

.icon-crud-essay {
    width: 15%;
}

/* Icon Bank Soal */
.a-tag-tabel-bank-soal-ctn {
    width: 50vw;
    /* vertical-align: middle; */
    margin-left: 10%;
    /* display: inline; */
    margin-bottom: 0.5rem;
}

.a-tag-tabel-bank-soal-ctn-master {
    /* width: 100%; */
    /* vertical-align: middle; */
    margin-left: 60%;
    /* position: absolute; */
    /* right:-20%f; */
    /* display: inline; */
    margin-top: -.2rem;
}

.a-tag-tabel-bank-soal-ctn-master-data-pendidik {
    margin-top: -.2rem;
    margin-left: 40%;

}

.a-tag-tabel-bank-soal-ctn-master-data-pendidik a{
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0.5rem;  

}
.a-tag-tabel-bank-soal-ctn-master a {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0.5rem;
}
.a-tag-tabel-bank-soal-ctn a {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0.5rem;
}

/* Dropdown */

.container {
    display: flex;
    width: fit-content;
    width: 15vw;
}
.btn-manajemen-bank-soal {
    background: none;
    color: white;
    font-size: 1rem;
    width: fit-content;
    justify-content: flex-start;
    column-gap: var(--gap);
    /* padding: 0.6rem; */
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    position: relative;

    transition: 0.3s;
}

.btn-manajemen-bank-soal:hover {
    color: #000;
}
.dropdown {
    position: absolute;
    width: 200px;
    height: 15vh;
    /* margin-top: 5rem; */
    z-index: 5;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: #ec8f5e;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
}

.dropdown a {
    display: flex;
    width: 10vw;
    flex-direction: column;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
}

.position-dropdown {
    position: relative;
}
.link-dropdown {
    height: fit-content;
    position: absolute;
    /* top: 50; */
}

.dropdown a:hover {
    background-color: var(--color);
    color: white;
}

.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
    margin-top: 3rem;
    margin-left: 2rem;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
}
thead {
    /* width: 100vw; */
    background-color: black;
}

tbody {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: medium;
}
th {
    color: #919191;
    width: 20vw;
    height: 6vh;
    border: 2px solid #b3b3b3;
    font-size: 0.8rem;
}

td {
    height: 4vh;
    border: 3px solid #b3b3b3;
    font-size: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
}
