.flex {
    display: flex;
}

.cpanel-soal-pilgan-admin {
    position: absolute;
    top: 20%;
    left: 20%;
}

.soal-pilgan-ctn {
    width: 78vw;
    background-color: #141e46;
    height: 6vh;
    border-radius: 8px;
    position: absolute;
}

.soal-pilgan-ctn h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
}
.tabel-soal-pilgan-admin {
    position: absolute;
    border-radius: 8px;
    /* display: flex; */
    top: 28%;
    width: fit-content;
    height: 67vh;
    width: 78vw;
    left: 20%;
    border: 1px solid #b3b3b3;
    background-color: #fdeeee;
}

.tabel-soal-pilgan-admin h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    margin-left: 1rem;
    width: 50vw;
}

.header-tabel-data-soal-pilgan-admin {
    font-size: 1rem;
    width: 78vw;
    height: 7vh;
    display: flex;
    position: relative;
    color: white;
    background-color: #ff6969;
    padding: 1rem;
    border-radius: 8px;
}

.a-tag-tabel-soal-pilgan-ctn {
    /* width: 20vw; */
    /* vertical-align: middle; */
    margin-left: 30%;
    /* display: inline; */
    margin-top: -0.2rem;
    position: absolute;
    left: 48%;
}

.a-tag-tabel-soal-pilgan-ctn a {
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem;

    border-radius: 8px;
    margin: 0 0.5rem 0 0.5rem;
}

.icon-a-tag {
    width: 6%;
    position: relative;
    top: 3;
    margin-right: 0.5rem;
}
.btn-tambah-soal-essay {
    background-color: #ffffff;
    width: 10vw;
}

.btn-bank-soal {
    background-color: #4bccbf;
    width: 10vw;
}
.icon-crud {
    width: 10%;
    position: relative;
    top: -5;
}

/* Tabel 1 */

.tabel-one {
    border-collapse: collapse;
    display: flex;
    /* margin: 1rem; */
    border-radius: 8px;
}

.tabel-one thead {
    background-color: black;
    display: flex;
}

/* Tabel 2 */
.tabel-two {
    border-collapse: collapse;
}

.table-two thead {
    background-color: black;
    display: flex;
}
table span {
    position: relative;
}

.thead-two {
    background-color: black;
    color: #f4eae0;
}

.tbody-one {
    /* margin-top: 2rem; */
    text-align: center;
    font-size: 1.1rem;
    display: contents;
    background-color: red;
}

.tbody-two {
    /* margin-top: 2rem; */
    text-align: center;
    font-size: 1.1rem;
    font-weight: medium;
    border-radius: 1px solid black;
}

.tabel-one th {
    color: black;
    width: 13vw;
    height: 6vh;
    display: flex;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 1rem 1rem 0.5rem 1rem;
}

.tabel-two th {
    color: #919191;
    width: 20vw;
    height: 6vh;
    border: 2px solid #b3b3b3;
    font-size: 0.8rem;
    /* display: flex; */
}

.tabel-one td {
    height: 6vh;
    width: 64.7vw;
    color: black;
    font-size: 0.9rem;
    display: flex;
    padding: 1rem 1rem 0.5rem 1rem;
}

.tabel-two td {
    height: 3vh;
    width: 38.5vw;
    color: black;
    font-size: 0.8rem;
    border: 2px solid #b3b3b3;

    /* display: flex; */
    padding: 1rem 1rem 0.5rem 1rem;
}
tr {
    border-radius: 8px;
}

.tr-one::after {
    content: "ini";
    display: flex;
    position: block;
    background-color: red;
}

.tr-three {
    width: 0.2vw;
    border-radius: 0px;
    background-color: #f4eae0;
}
.th-color-one {
    background-color: #ffc5c5;
}

.th-color-two {
    background-color: #ec8f5e;
}

.btn-kembali-ctn a {
    position: absolute;
    bottom: 0;
    background-color: #ffc245;
    text-decoration: none;
    font-size: 0.77rem;
    font-weight: 600;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    left: 20%;
    width: 6.2vw;
}

.icon-back {
    width: 18%;
    top: 2px;
    position: relative;
}
