.flex {
    display: flex;
}

.cpanel-pilihan-materi-siswa {
    position: absolute;
    top: 40%;
    left: 20%;
}

.pilihan-materi-siswa-ctn {
    width: 78vw;
    background-color: #141e46;
    height: 6vh;
    top: -180px;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
}

.pilihan-materi-siswa-ctn h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
}

.sub--ctn {
    width: 78vw;
    background-color: rgb(231, 231, 231);
    box-shadow: 2px solid black;
    height: 17vh;
    top: -137px;
    position: absolute;
    border-radius: 8px;
}

.sub--ctn h1 {
    font-size: 1.2rem;
    margin: 0.8rem 0 0 1rem;
}

.btn-back-sub--ctn {
    background-color: #ee9322;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 0.5rem 0 0 1rem;
    position: absolute;
}
.tabel-data-pilihan-materi-siswa {
    position: absolute;
    border-radius: 8px;
    top: 42%;
    width: 78vw;
    height: 55vh;
    left: 20%;
    background-color: #fdeeee;
}

.header-tabel-data-pilihan-materi-siswa {
    font-size: 1rem;
    width: 78vw;
    height: 9vh;
    display: flex;
    position: relative;
    border-radius: 8px;
    color: white;
    background-color: #ff6969;
    padding: 1rem;
}

.header-tabel-data-pilihan-materi-siswa h1 {
    margin-top: 0.4rem;
}

table {
    border-collapse: collapse;
}
thead {
    /* width: 100vw; */
    background-color: black;
}

tbody {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: medium;
}
th {
    color: #919191;
    width: 60vw;
    height: 7vh;
    font-size: 0.9rem;
    border: 3px solid #b3b3b3;
}

td {
    height: 7vh;
    border: 3px solid #b3b3b3;
}

.icon-unduh {
    width: 25%;
}

.th-no {
    width: 5vw;
}

.th-judul {
    width: 90%;
}

.th-unduh {
    width: 10vw;
}
